*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(250,250,250);
    overflow-x: hidden;
}
.nav{
   
    height: 9vh;
    width: 100vw;
    background-color: rgb(40, 116, 240);
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
}

.logo{
    padding-left: 295px;
    zoom: 64%;
}

.sbox{
    padding: 10px 14px 12px 12px;
    align-items: center;
    
}

.sbox2{
    
    padding: 8px 235px 8px 14px;
    border: 1px solid transparent;
    border-radius: 1.5px;
    color: rgb(117, 117, 117) ;
    box-shadow: 1px 1px 10px 1px rgb(33, 95, 196);
    
}

.lbut{
    
   
    padding: 0.625rem 1.25rem 0.625rem 2.56rem;
}

.ibut{
    align-items: center;
    padding: 5px 41px 7px 35px;
    border: 1px solid transparent;
    border-radius: 1.5px;
    color: rgb(40, 116, 240);
}

.more{
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding-left: 23px;
}

.cart{
    zoom: 65%;
    padding-top: 15px;
    padding-left: 62px;
}

.tcart{
    color: whitesmoke;
    display: flex;
    align-items: center;
}


    

.bnav{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 9.5rem;
    zoom: 50%;
    font-size: 30px;
    font-weight: 500; 
    height: 360px;
    border: 2px solid transparent ;
    box-shadow: 1px 1px 1px 1px rgb(206, 208, 210);
}

/* carousel */

#carousel{
    overflow: hidden;
}

#carousel figure {
    position: relative;
    width: 500%;
    
    margin: 0px;
    animation: 12s carousel infinite;
}

#carousel figure img {
    padding: 12px;
    height: 280px;
    float: left;
    width: 20%;
}

@keyframes carousel {
    0% {
        left: 0;
    }

    20% {
        left: -100%;
    }

    40% {
        left: -200%;
    }

    60%{
        left: -300%;
    }

    80%{
        left: -400%;
    }

}

.elec{
    margin-left: 16px;
    display: inline-block;
    height: 300px;
    width: 97vw;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 264px;
    text-align: center;
    border-radius: 2px;
    box-shadow: 1px 1px 2px 1px rgb(206, 208, 210);

}

.pur{
    display: block;
    margin-top: 14px;

}

.to p{
    
    font-weight: 400;
    padding-bottom: 32px;
    padding-top: 60px;
    font-size: 2rem;
}

.to button{
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px 16px 8px 16px;
    border: 1px solid transparent;
    background-color: rgb(40, 116, 240);
    box-shadow: 0px 0px 2px 0px rgb(33, 95, 196);
}

.elec boat{
    
    border: 1px solid transparent;
    display: inline-flex;
    
    /* margin-top: -304px; */
    box-shadow: 2px 2px 2px 2px rgb(206, 208, 210);
}    

.deal{
    height: 218px;
    width: 406px;
   padding-top: 10px;
   border: 1px solid transparent;
   box-shadow: 1px 1px 2px 1px rgb(206, 208, 210);
   border-radius: 2px;

}

.dflex{
    
    width: 100vw;
    height: 456px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}




.left{
    
    height: 280px;
    width: 54vw;
    background-color: rgb(23, 35, 55);
}

.right{
    
    height: 280px;
    width: 46vw;
    background-color: rgb(23, 35, 55);
}

.fix{
    display: flex;
    margin-top: 8px;
}

.t1 th{
    text-align: justify;
    padding-bottom: 16px;
    padding-left: 24px;
    font-weight: 300;
    color: rgb(121, 135, 135);
    
}

.t1 td{

    text-align: start;
    line-height: 1.5rem;
    padding-left: 24px;
    color: rgb(255, 255, 255);
    font-weight: 300;
    
    
}

.t1{
    padding-top: 32px;
}

.t2{
    padding-top: 32px;
}

.t2 th{
    font-weight: 300;
    text-align: justify;
    color: rgb(121, 135, 135);
    
}

.t2 td{
    color: rgb(255, 255, 255);

    line-height: 1.4rem;
    font-weight: 300;
}

.vl{
    border-left: 1px solid  rgb(121, 135, 135);
    height: 200px;
    position: absolute;
    left: 52%;
}


.bottom{
    margin-top: 0.4px;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(23, 35, 55);
}

.num{
    color: rgb(56, 56, 236);
}

.bold{
    font-weight: 500;
    padding-top: 4px;
}

.green{
    color: rgb(56, 142, 60);
    padding-top: 8px;
}

.grey{
    color: rgb(137, 137, 137);
    padding-top: 8px;
}

.si{
    zoom: 6%;
    position: relative;
    right: 6900px;
    z-index: 5;

    
}

.logonew{
    display: none;
}

.fabar{
    display: none;
}

.bell{
    display: none;
}

.bnav2{
    display: none;
}

.mobile{
    display: none;
}

.travel{
    display: none;
}

.eardopes{
    display: none;
}

.tri{
    display: none;
}

.mic{
    display: none;
}

.quadpic{
    display: none;
}

.tri2{
    display: none;
}








@media screen and (min-width:1350px) {


    .deal{
        height: 245px;
        width: 430px;
    }
    
    .dflex{
        height: 500px;
    }

    body{
        overflow-x: hidden;
    }
}

@media screen and (min-width:1520px){

    .deal{
        height: 260px;
        width: 460px;
    }
    
    .dflex{
        height: 530px;
    }

    body{
        overflow-x: hidden;
    }

}

@media screen and (min-width:360px) and (max-width:450px){
    body{
        z-index: 1;
    }

    .nav{
        height: 14vh;
        width: 100vw;
        background-color: rgb(40, 116, 240);
        display: flex;
        align-items: center;
        /* position: fixed; */
        z-index: -11;
    }
    

    .logoold{
        display: none;
    }

    .logonew{
        display: block ;
        zoom: 80%;
        padding-bottom: 90px;
        

    }

    .fabar{
        display: block;
        zoom: 43%;
        padding-bottom: 105px;
        
    }

    .lbut{
        display: none;
    }

    .sbox2 {
        padding: 8px 30px 8px 14px;
    }

    
.logo{
    padding-left: 16px;
    padding-bottom: 20px;

}

.sbox{
    position: absolute;
    display: inline-block;
    padding-top: 60px;
}

.more{
    display: none;
}

 
.tcart{
    display: none;
}



.bell{
    display: block;
    zoom: 50%;
    position: absolute;
    top: 20px;
    right: 107px;

}

.cart{
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 28px;
}

.sbox2{
    width: 94vw;
    padding: 8px 30px 8px 32px;
}

.nav{
    position: absolute;
    
}

.desktop{
    display: none;
}

.mobile{
    display: inline;
}


#carousel figure img {
    
    padding: 0px;
    height: 38vh;
    float: left;
    width: 20%;
    
}


#carousel figure {
    position: relative;
    top: 14vh;
    margin-top: 0px;
    width: 500%;
    margin: 0px;
    animation: 12s carousel infinite;
}

.elec{
    display: none;
}

.deal{
    display: none;
}

.fix{
    display: none;
}

.bottom{
    display: none;
}

.dflex{
    display: none;
}

.si{
    display: none;
}


.bnav{
    display: none;
}

.travel{
    display: flex;

}

.bnav2{
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 1.5rem;
    zoom: 50%;
    font-size: 1.75em;
    font-weight: 500;
    height: 62.5vh;
    border: 2px solid transparent;
    box-shadow: 1px 1px 2px 2px rgb(206 ,208, 210);
    overflow-wrap: hidden;
    

}

.eardopes img{
    display: block;
    margin: 4px auto;
    height: 20vh ;
    width: 98vw;
    border: 1px solid transparent;
    padding: 4px 4px 4px 4px; 
    box-shadow: 1px 1px 2px 1px rgb(206 ,208, 210);

    
    
    
    
}

.eardopes{
    display: block;
    margin-top: 8px;
    height: 22vh;
    width: 100vw;
    /* border: 1px solid black; */
}

.phones{
    height: 120px;
    width: 120px;
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 1px rgb(206 ,208, 210);
}

.tri{
    margin-top: -8px;
    display: flex;
    height: 19.73vh;
    width: 100vw;
    border: 1px solid transparent;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgb(206 ,208, 210);
}

.tri div img{
    height: 65%;
    width: 100%;
}

.tri div p{
    font-weight: 500;
    font-size: 0.9em;
    text-indent: 0.5em;
}


.tri div span{
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 0.5em;
    color: rgb(117, 117, 117);
}


.quadpic{
    display: block;
    margin-top: 6px;
    width: 100vw;
    height: 62.5vh;
    background-image: url('img/purplebg2.png');
    background-repeat: no-repeat;
    background-size: cover;
  
}

.topquad button{
    border-radius: 3px;
    color: whitesmoke;
    font-size: 1rem;
    padding: 8px 16px 8px 16px;
    border: 1px solid transparent;
    background-color: rgb(40, 116, 240);
    box-shadow: 0px 0px 2px 0px rgb(33, 95, 196);
}

.quadpic article{
    display: flex;
    flex-wrap: wrap;
    height: 50.13vh;
    width: 97vw;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
    margin-top: 5.26vh;
    box-shadow: 0px 2px 0px 0px rgb(206 ,208, 210);
    
}

.quadpic article div img{
    zoom: 30%;
    padding: 32px;
    
    
    
}

.quadpic article div{
    text-align: center;
    height:25vh;
    width:48.34vw;
    border: 1px solid rgb(206 ,208, 210);
   
    
}

.quadpic article div p{
    color: rgb(117, 117, 117) ;
    font-size: 0.9rem;

}


.quadpic article div span{
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(56, 142, 60);

}

.topquad p{
    font-size: 1.3rem;
}

.topquad{
    padding-top: 3.68vh;
    display: flex;
    justify-content: space-around;
}


.tri2{
    margin-top: 16px;
    display: flex;
    height: 36.73vh;
    width: 100vw;
    border: 1px solid transparent;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 1px 1px 2px 1px rgb(206, 208, 210);
}

.tri2 div{
    border: 1px solid transparent;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px rgb(206, 208, 210);
}

.tri2 div img{
    height: 65%;
    width: 97%;
    padding-left: 4px;
}

.tri2 div p{
    font-weight: 500;
    font-size: 0.9em;
    text-indent: 0.5em;
}


.tri2 div span{
    font-weight: 400;
    font-size: 0.9em;
    padding-left: 0.5em;
    color: rgb(117, 117, 117);
}

.phones2{
    line-height: 1.3rem;
}

.green2{
    color: rgb(56, 142, 60);
    font-weight: 500;
    font-size: 1.5rem;

}


.green3{
    color: rgb(56, 142, 60);
    font-weight: 500;
    font-size: 1.5rem;
}

.bottom{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    font-size: 0.9rem;
    font-weight: 300;
    padding: auto 16px;
}

.visa{
    zoom: 90%;
}


.si{
    display: flex;
    zoom: 6%;
    position: relative;
    left: -3043px;
    top: 389px;
    z-index: 5;

    
}






}